.ez5-nested--list {
	> .ez5-nested-fields {
		> .ez5-field {
			&.ez5-custom-data-type-location {
				margin-top: 12px;
			}
		}
	}
}

.ez5-custom-data-type-location {
	> .ez5-field-value {
		> .cui-horizontal-layout-left {
			margin-right: 3px;
		}
	}

	.cui-icon-marker {
		transition: filter .5s ease-in-out;
	}

	.cui-horizontal-layout {
		overflow: visible;
		align-items: center;

		&.ez5-marker-highlight .cui-icon-marker {
			filter: drop-shadow(0 0 5px var(--highlight));
		}

		.cui-horizontal-layout-left {
			margin: 0;
			overflow: visible;
		}

		.cui-horizontal-layout-center {
			margin: 0 10px;
		}
	}
}

.cui-form-field-name--group {
	flex-grow: 1 !important;
}
